/* General Styles */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h1 {
    font-family: 'Oswald';
}

h2, h3, p, .navbar {
    font-family: 'Open Sans', helvetica;
}

.navbar {
    background-color: dodgerblue;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
    font-size: 1.25em;
}

.container .jumbotron {
    background-image: linear-gradient(dodgerblue, #fff);
}

.btn {
    background-color: dodgerblue;
}

/* Centers h1 objects for xs/sm devices */
@media (max-width: 991px) {
    h1 {
        text-align: center;
    }
}


