
@{
    ViewBag.Title = "Change a Reservation";
    ViewBag.Message = "Use this form when somebody wants to change a reservation they've already made.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>