@{
    ViewBag.Title = "Make a reservation";
    ViewBag.Message = "Use this form when somebody wants to book a room.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form>
    <label>testlabel</label>

</form>
