@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WittenBnB</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the WittenBnB reservation system. Click the links above to get started.</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus suscipit malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vel diam ac magna dictum fringilla sed varius mauris. Quisque et justo non ligula tristique porta. Morbi sit amet faucibus leo, ac fringilla lectus. Fusce tristique dignissim erat non feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ornare nec velit sit amet suscipit.
        </p>
    </div>
    <div class="col-md-8">
        <img src="~/Content/Images/banner.jpg" class="img-responsive" />
    </div>
</div>
