
@{
    ViewBag.Title = "View Reservations";
    ViewBag.Message = "This isn't a form, but this will tell you the reservations that are currently booked.";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

