@{
    ViewBag.Title = "Farmhouse";
    ViewBag.Message = "Now you, too, can wake up to the sultry smell of barn animals. Wake up before the crack of dawn and pick your own eggs from our free-range chicken coop. The Management at WittenBnB take no responsibilty for injuries or losses incurred during your egg-gathering adventures.";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<img src="~/Content/Images/fillmurray2.jpg" class="img-responsive" />

