<!-- View for the room descriptions. -->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Room Descriptions</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div>
        <div class="col-md-6">
            <h2>
                @Html.ActionLink("Victorian", "Victorian")
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus suscipit malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vel diam ac magna dictum fringilla sed varius mauris. Quisque et justo non ligula tristique porta. Morbi sit amet faucibus leo, ac fringilla lectus. Fusce tristique dignissim erat non feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ornare nec velit sit amet suscipit.
            </p>
        </div>
    </div>
    <div>
        <div class="col-md-6">
            <h2>
                @Html.ActionLink("Minimalistic", "Minimalistic")
            </h2>
            <p>
                Room. Functionality. Essentials.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div>
        <div class="col-md-6">
            <h2>
                @Html.ActionLink("Farmhouse", "Farmhouse")
            </h2>
            <p>
                Bacon ipsum dolor amet t-bone beef ribs ham hock picanha capicola sirloin cow turkey pork landjaeger. Jowl pig chuck, ribeye pastrami cow flank frankfurter porchetta short ribs chicken biltong shankle beef kevin. Fatback tri-tip tongue porchetta frankfurter. Sirloin burgdoggen pork chop short ribs landjaeger pancetta pork drumstick porchetta cupim. Ham pork loin cupim sausage ham hock cow shankle. Strip steak brisket picanha, boudin landjaeger doner cupim prosciutto shank tenderloin jowl sausage.
            </p>
        </div>
    </div>
    <div>
        <div class="col-md-6">
            <h2>
                @Html.ActionLink("Modern", "Modern")
            </h2>
            <p>
                Irony sustainable fingerstache tattooed aesthetic actually. Sartorial chillwave hashtag butcher everyday carry before they sold out. Craft beer cronut banh mi paleo tousled microdosing gentrify chambray jean shorts seitan whatever brooklyn artisan sustainable. Venmo salvia flexitarian, tacos activated charcoal 3 wolf moon wayfarers. Venmo enamel pin keffiyeh green juice. Meditation small batch chicharrones pickled master cleanse iceland waistcoat crucifix dreamcatcher viral roof party unicorn pok pok paleo. Vegan flexitarian tote bag blue bottle tumblr beard.
            </p>
        </div>
    </div>
</div>

