@{
    ViewBag.Title = "Minimalistic";
    ViewBag.Message = "A microscopic getaway for those with too much stuff in their lives.";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<img src="~/Content/Images/fillmurray3.jpg" class="img-responsive" />
