@{
    ViewBag.Title = "Modern";
    ViewBag.Message = "Relax in our state-of-the-art suite, complete with the highest-grade doo-dads and other luxury items most people can only dream of.";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<img src="~/Content/Images/fillmurray5.jpg" class="img-responsive" />

