@{
    ViewBag.Title = "Victorian";
    ViewBag.Message = "Perhaps our most elegant offering, suitable for Her Majesty the Queen herself, this room bathes in colors of champagne and gold.";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<img src="~/Content/Images/fillmurray1.jpg" class="img-responsive" />

